[user]
    name = Ícaro Andrade
    email = ic4ro.p4blo@gmail.com

[push]
    default = current

[alias]
    aa = add .
    ai = add --interactive
    c = commit
    cm = commit -m
    st = status -sb
    us = restore --staged .
