.Xauthority
.Xdefaults
.android
.anyconnect
.anydesk
.aws
.bash*
.bash_history
.cache
.cargo
.clojure
.config/*/zoom*
.config/.gsd-keyboard.settings-ported
.config/Code
.config/Debauchee/Barrier.conf
.config/GIMP
.config/InputLeap
.config/InputLeap/InputLeap.conf
.config/JetBrains
.config/QtProject.conf
.config/Session
.config/Thunar/accels.scm
.config/Thunar/uca.xml
.config/VirtualBox
.config/balena*
.config/cabal/config
.config/cef*
.config/chezmoi/chezmoistate.boltdb
.config/chromium
.config/configstore
.config/dconf/user
.config/dotfiles
.config/enchant
.config/eog
.config/evolution
.config/fontconfig
.config/gedit
.config/ghc/ghci_history
.config/github-copilot*
.config/gnome*
.config/google-chrome
.config/gtk*
.config/gtk-2.0/gtkfilechooser.ini
.config/htop/htoprc
.config/ibus
.config/jgit
.config/libreoffice
.config/locale.conf
.config/lutris
.config/menus
.config/mimeapps.list
.config/monitors*
.config/nautilus
.config/neofetch/config.conf
.config/next
.config/nvim/.luarc.json
.config/nvim/lua/.luarc.json
.config/nvim/plugin
.config/nyxt
.config/pavucontrol*
.config/pavucontrol.ini
.config/pdiary
.config/pgcli
.config/pulse
.config/qBittorrent
.config/qutebrowser
.config/simple-scan
.config/snes9x/snes9x.conf
.config/systemd
.config/totem
.config/unity*
.config/user-dirs.dirs
.config/vlc
.config/warpd
.config/xfce*
.config/xfce4/xfconf/xfce-perchannel-xml/thunar.xml
.config/zoom*
.cshrc
.cvsrc
.dbus
.docker
.dwm.log
.eclipse
.fehbg
.fonts.conf
.fonts/.uuid
.fonts/JetBrains*
.gnupg
.hidden
.idea
.ideavimrc
.java
.klei
.ksh_history
.kube
.lesshst
.local/.local.iml
.local/bin
.local/curls
.local/etc
.local/lib
.local/lua-language-server
.local/pipx
.local/queries
.local/scripts/rec*
.local/share
.local/state
.login
.m2
.mailrc
.minikube
.mozilla
.netskope
.node_repl_history
.npm
.oh-my-zsh
.openjfx
.pam_environment
.parsec
.pki
.pulse-cookie
.purple
.python_history
.sdkman
.serverauth*
.sh_history
.shell.pre-oh-my-zsh
.sndio
.sonarlint
.ssh
.steam*
.sudo_as_admin_successful
.swt
.synaptic
.terminfo
.testcontainers.properties
.trash
.var
.vault-token
.vim
.vscode
.wget-hsts
.wine
.xsessionrc
.zcomp*
.zcompdump
.zlua
.zoom
.zsh*
Documents
Downloads
Jasper*
Pictures
Scripts
Workspace
input-leap
mbox
snap
steam*
z
